div.dom-sep {height:15px}

/* Table Section (used in qte_index and qte_search) */

/* Common */

table.t-sec {border-spacing:0;border-width:1px;border-style:solid;border-radius:5px}
tr.r1:hover, tr.r2:hover {background-color:#f1f1f1}
table.t-sec th,
table.t-sec td {padding:4px;vertical-align:middle}
table.t-sec th.c-icon,
table.t-sec td.c-icon {width:40px;text-align:center}

/* Index */

div.pg-index table.t-sec {border-color:#cc3234}
div.pg-index table.t-sec th {min-height:8px;color:#ffffff;background-color:#cc3234;font-size:8pt;font-weight:bold}
div.pg-index table.t-sec td {border-top:solid 1px #e0e0e0}
div.pg-index table.t-sec th.c-logo,
div.pg-index table.t-sec td.c-logo {width:120px;text-align:center}
div.pg-index table.t-sec th.c-items,
div.pg-index table.t-sec td.c-items {width:70px;text-align:center}

p.section, 
p.sectiondesc {margin:3px 0;padding:0}
p.section a.section {font-size:11pt;font-weight:bold;text-decoration:none}
p.section a.section:hover {text-decoration:underline}
p.sectiondesc { font-size:10pt}

td.c-logo img, td.c-icon img {display:block}

/* compact table */

div.pg-index.view-c table.t-sec th {padding:3px}
div.pg-index.view-c table.t-sec td {padding:3px}
div.pg-index.view-c table.t-sec th.c-logo,
div.pg-index.view-c table.t-sec td.c-logo {width:80px}
div.pg-index.view-c table.t-sec td.c-logo img {max-height:50px}

/* Search */

div.pg-search table.t-sec {margin:0 0 15px 0;background-color:#f4f4f4;border-color:#dddddd}
div.pg-search table.t-sec th {font-size:8pt;font-weight:bold;color:#555555}  
div.pg-search table.t-sec td {font-size:9pt}
div.pg-search table.t-sec th a {font-size:8pt;font-weight:bold;color:#555555;text-decoration:none}
div.pg-search table.t-sec th a:hover {text-decoration:underline}

/* ==== MEDIA LARGE ==== */

@media screen and (min-width:1024px)
{
div.dom-sep {height:25px}
div.pg-index.view-c div.dom-sep {height:15px}
}

/* ==== MEDIA EXTRA SMALL ==== */

@media screen and (min-width:501px) and (max-width:640px)
{
div.dom-sep {height:10px}
div.pg-index table.t-sec th.c-logo,
div.pg-index table.t-sec td.c-logo {width:80px}
div.pg-index table.t-sec td.c-logo img {max-height:50px}
}

@media handheld,screen and (max-width:500px)
{
div.dom-sep {height:5px}
th.c-items,td.c-items {display:none}
span.sectiondesc {display:none}
div.pg-index table.t-sec th.c-logo,
div.pg-index table.t-sec td.c-logo {width:80px}
div.pg-index table.t-sec td.c-logo img {max-height:50px}
}