html {background-color:#d1d1d1}
body {margin:0;padding:10px 0;color:#333333;background:linear-gradient(to bottom, #ffffff, #d1d1d1)}

div,th,td,h1,h2,p,a,select,input,textarea,fieldset {font-family:verdana,arial,sans-serif}
h1 {margin:10px 0 5px 0;font-size:14pt;font-weight:bold}
h2 {margin:10px 0 5px 0;font-size:12pt;font-weight:bold}
div,th,td,p,a,select,input,textarea,fieldset {font-size:9pt}
a {color:#646356;text-decoration:underline}
a:hover {color:#000000;text-decoration:underline}
p.imgcaption {margin:3px 0;font-size:8pt}
p.imgcaption a {font-size:8pt}
tr.hover:hover {background-color:#f1f1f1}
td.c-icon img {display:block;margin:0 auto}
td.c-picture img {display:block;margin:0}

/* PAGE CONTAINER */

div.page {margin:0 auto 0 auto;width:90%;text-align:left}

/* BANNER MENU WELCOME FOOTER */

img.logo {margin-top:3px;float:left;width:150px;height:50px;border-width:0}
img.username {width:15px;height:15px;vertical-align:text-top}

div.banner {margin:0;height:58px;color:#000000;background-color:#b69c84;border-style:solid;border-width:2px 2px 0 2px;border-color:#b69c84;border-radius:5px 5px 0 0;background:linear-gradient(to bottom,#90765E 20%,#B69C84)}
div.banner div.langmenu {margin:0;height:22px;padding:5px 6px 0 0;color:#444444;font-size:9pt;text-align:right}
div.banner div.langmenu a.username {color:white;background-color:transparent;font-size:8pt;font-weight:normal;text-decoration:none}
div.banner div.langmenu a.langmenu {color:white;background-color:transparent;font-size:8pt;font-weight:bold;text-decoration:none}
div.banner div.langmenu a:hover {text-decoration:underline}

div.nobanner {margin:0;color:#000000;background-color:#b69c84;border-radius:5px 5px 0 0}
div.nobanner div.langmenu {margin:0;padding:3px 4px 6px 0;font-size:9pt;text-align:right;color:#555555}
div.nobanner div.langmenu a.username {color:white;background-color:transparent;font-size:8pt;font-weight:normal;text-decoration:none}
div.nobanner div.langmenu a.langmenu {color:white;background-color:transparent;font-size:8pt;font-weight:bold;text-decoration:none}
div.nobanner div.langmenu a:hover {text-decoration:underline}

div.menu {margin:0;padding:0 5px 0 0;text-align:right;background-color:#b69c84}
div.menu.withwelcome {margin:0}
div.menu ul {padding:0}
div.menu li {padding:4px 10px;border:solid 1px #ffffff;font-weight:bold;background:linear-gradient(to top,#ffffff 3px,#d4d4d4);color:#aaaaaa}
div.menu li a {text-decoration:none;text-shadow:1px 1px 0 white}
div.menu li a:hover {text-decoration:underline}
/* when menu is embeded in the banner */
div.banner div.menu {margin:0;height:32px;padding:0 5px 0 0;border-width:0;background-color:transparent}
div.banner div.menu ul {margin:3px 0 0 0}
div.banner div.menu li {margin:0 3px 0 1px;padding:5px 10px;border:solid 1px #B69C84;color:#ffffff;font-weight:bold;text-shadow:1px 1px 0 #888888;background:none;background-color:transparent;border-radius:4px}
div.banner div.menu li:hover {background-color:#C4AA93}
div.banner div.menu li.inactif:hover {background-color:transparent}
div.banner div.menu li a {color:#ffffff;text-shadow:1px 1px 0 #888888;text-decoration:none;}
#menuactif {background:none;background-color:white;text-shadow:none}
#menuactif a {color:#000000;text-shadow:none}

/* welcome */
div.welcome {margin:0;padding:10px;background-color:#ffffff;border-width:0 0 1px 0;border-style:dotted;border-color:#b69c84}

/* footer */
div.footer {margin:5px 0 2px 0;padding:0px}
div.footerleft {float:left;font-size:8pt}
div.footerright {text-align:right;font-size:8pt}
div.footer a {font-size:8pt}

/* info legend */
table.info {margin:0 0 5px 0;width:100%;border-spacing:0}
table.info td {padding:0;vertical-align:top}
div.infobox {width:250px;padding:5px 7px 7px 7px;background-color:#f1f1f1;border:solid 1px #c0c0c0;border-radius:5px}
div.infobox.stat {margin:10px auto 10px 0}
div.infobox.details {margin:10px auto}
div.infobox.legend {margin:10px 0 10px auto}
div.infobox h1 {margin:0 0 5px 0;color:#555555;font-style:normal;font-weight:bold;font-size:10pt}
div.infobox p {margin:5px 0 0 0}

/* BODY */

div.body {background-color:#FFFFFF;border-style:solid;border-width:0 1px 1px 1px;border-color:#f6f6f6;border-radius:0 0 5px 5px}
div.bodyhd {height:30px}
div.bodyhdleft {float:left;padding:7px 5px 5px 8px;font-size:9pt;font-weight:bold}
div.bodyhdleft a {font-size:9pt;font-weight:bold}
img.bodyhdleft {margin:0px 5px 0 0;vertical-align:top}
div.bodyhdright {text-align:right;padding:7px 5px 5px 5px}
img.bodyhdright {display:none}

div.bodyct {padding:15px;border-bottom:dotted 1px #B69C84}

div.bodyft {height:30px}
div.bodyftleft {float:left;height:23px;padding:7px 0 0 8px;font-size:8pt}
div.bodyftleft a {font-size:8pt}
img.bodyftleft {display:none}
div.bodyftright {height:24px;text-align:right;padding:6px 5px 0 0}
div.bodyftright label {font-size:8pt}

select#jumpto {width:125px;font-size:8pt}
select#jumpto option {font-size:8pt}

/* MESSAGEBOX */

div.msgbox {width:600px;margin:20px auto 20px auto;padding:0;border-style:solid;border-width:1px 1px 1px 1px;border-color:#d8d7c1 #aaaaaa #aaaaaa #d8d7c1}
div.msgboxtitle {margin:0;padding:5px 10px 8px 10px;color:#ffffff;background-color:#d8d7c0;font-family:"arial black",verdana,arial,sans-serif;font-size:12pt;font-weight:bold;text-shadow:1px 1px 2px #888888}
div.msgboxbody {margin:0;padding:15px;border-style:solid;border-width:2px 0 0 0;border-color:#ffffff;background-color:#e8e7d7}
div.msgboxbody table {background-color:#f0f0f0;border:solid 1px #b69c84;border-radius:5px 5px 0 0}
div.msgboxbody table.hidden {background-color:transparent;border:none}
div.msgboxbody td {padding:4px;vertical-align:middle;border-bottom:solid 1px #e0e0e0;font-size:8pt}
div.msgboxbody table.hidden td {vertical-align:top}
div.msgboxbody td.headfirst {padding-right:5px;color:#ffffff;background-color:#b69c84;font-size:8pt;font-weight:bold;text-align:right}
div.msgboxbody table.hidden td.boxinfo {padding-right:10px}
div.msgboxbody table.hidden td.boxform {padding-left:10px}

/* Layout icons */

img.i-sec {width:32px;height:32px}
img.i-modes,
img.i-user {width:15px;height:15px;vertical-align:top}
div.bodyhdright img.i-modes{background-color:#ffffff;border:solid 1px #dddddd; padding:3px 4px;border-radius:3px}
div.bodyhdright img.i-modes:hover{background-color:#eeeeee;border:solid 1px #cccccc;}
img.i-sort {width:9px;height:6px;margin:0 0 0 4px;vertical-align:middle;background:url(sort_updw.gif) 0 0}
img.i-sort.desc {background-position:0 5px}

/* PICTURE */

img.userpicture {padding:8px; max-width:130px; border:solid 1px #dddddd; background-color:white; border-radius:5px}
p.picture {margin:5px; color:#444444}
p.picture.username {font-weight:bold}
p.picture.userstatus {font-size:8pt}

/* ==== MEDIA LARGE ==== */

@media screen and (min-width:1024px)
{
div.page {margin:0 auto 0 auto;width:950px;text-align:left}
div.bodyct {padding:25px}
}

/* ==== MEDIA SMALL ==== */

@media screen and (min-width:641px) and (max-width:870px)
{
div.page {margin:0 auto 0 auto;width:95%;text-align:left}
div.banner div.menu {display:block;float:none;margin:9px 0;padding:0;border-width:0;background:transparent}
div.menu li {padding:3px 8px}
div.banner div.menu li {padding:3px 8px}
}

/* ==== MEDIA EXTRA SMALL ==== */

@media screen and (min-width:501px) and (max-width:640px)
{
body {margin:5px}
div.welcome {display:none}
div.page {margin:0;width:auto;text-align:left}
div.banner div.menu {display:block;float:none;margin:9px 0;padding:0;border-width:0;background:transparent}
div.menu li {padding:3px 8px}
div.menu li.secondary {display:none}
div.banner div.menu li {padding:3px 8px}
div.banner div.menu li.secondary {display:none}
div.msgbox {width:auto;margin:10px auto 10px auto}
div.msgboxbody {padding:10px}
div.infobox {width:180px}
}

@media handheld,screen and (max-width:500px)
{
div.welcome {display:none}
body {margin:0}
div.page {margin:0;width:auto;text-align:left}
div.body-in {border-style:none}
div.bodyct {padding:5px}
div.banner img.logo {display:none}
div.menu li {padding:3px 5px}
div.menu li.secondary {display:none}
div.banner div.menu {margin:5px 0}
div.banner div.menu li {padding:1px 5px;border-left:solid 1px #0F4B8A;color:#888888}
div.banner div.menu li.secondary {display:none}
img.bodyhdleft, img.bodyftleft, img.bodyftright, img.bodyhdright {display:none}
div.footerleft {float:none; margin:0 0 5px 0}
table.info td {display:block}
div.msgbox {width:auto;margin:10px auto 10px auto}
div.msgboxbody {padding:10px}
div.msgboxbody td {display:block}
div.msgboxbody td.headfirst {width:auto;text-align:left}
div.infobox {width:95%}
div.infobox.stat,
div.infobox.details,
div.infobox.legend {margin:5px auto}
}

/* ==== PRINT ==== */

@media print
{
html {background-color:#ffffff}
body {margin:0;background:none;background-color:#ffffff}
div.page {width:100%;background-color:#ffffff;border:none;box-shadow:none}
div.body {border:none}
div.bodyct {padding:15px 0;background-color:#ffffff}
img.i-modes {display:none}
label[for=jumpto], #jumpto {display:none}
div.lettres input[type=text] {display:none}
div.lettres input.search {display:none}
}