body {margin:10px 0 10px 0;color:#333333;background:#d1d1d1 url(background.gif) repeat-x}

h1,h2,p,a,select,input,textarea,td,fieldset,div {font-family:verdana,arial,sans-serif}
h1 {margin:10px 0 5px 0;font-size:14pt;font-weight:bold}
h2 {margin:10px 0 5px 0;font-size:12pt;font-weight:bold}
p,a,select,input,textarea,td,fieldset,div {font-size:9pt}
a {color:#646356;text-decoration:underline}
a:hover {color:#000000;text-decoration:underline}
p.imgcaption {margin:3px 0;font-size:8pt}
p.imgcaption a {font-size:8pt}

/* Data table */

table.t-data {border:solid 1px #b69c84;border-radius:5px 5px 0 0}
table.t-data th {padding:4px;vertical-align:middle;color:#ffffff;background-color:#b69c84;font-size:8pt;font-weight:bold}
table.t-data td {padding:4px;vertical-align:middle;border-bottom:solid 1px #e0e0e0;font-size:8pt}
table.t-data td.headfirst {padding-right:5px;color:#ffffff;background-color:#b69c84;font-size:8pt;font-weight:bold;text-align:right}

/* ==== MEDIA EXTRA SMALL ==== */

@media handheld,screen and (max-width:500px)
{
table.t-data td {display:block}
table.t-data td.headfirst {width:auto;text-align:left}
}