img.sectioninfo-left {float:left; margin:0 10px 7px 0}
p.sectioninfo {margin:2px 0 8px 0;font-size:12pt;font-weight:bold;font-style:italic;color:#AAAAAA}
p.sectiondesc {margin:0 0 10px 0;font-size:9pt;font-weight:bold;font-style:italic;color:#AAAAAA}
img.sectioninfo-left.compact {max-height:50px;margin:0 10px 5px 0}
p.sectioninfo.compact {margin:0 0 3px 0;font-size:11pt}
p.sectiondesc.compact {margin:0 0 3px 0;font-size:9pt}

/* data table */

table.t-item,
table.t-user,
table.t-data {background-color:#FFFFFF}

table th a {font-size:9pt;font-weight:bold;color:#ffffff}
table th a:hover {color:#ffffff}

table.t-item th {padding:5px 4px;vertical-align:middle;background-color:#f5f5f5;border-style:solid;border-width:0 0 1px 0;border-color:#dddddd}
table.t-item th a {color:#900B09}
table.t-item th a:hover {color:#900B09}
table.t-user th,
table.t-data th {padding:4px;vertical-align:middle;background-color:#ff9933}
table.t-item td,
table.t-user td,
table.t-data td {padding:4px;vertical-align:middle;border-bottom:solid 1px #dddddd}

table.t-item th.c-status_i,
table.t-item td.c-status_i {width:30px;text-align:center}
table.t-item td.c-ufield {width:150px;background-color:#f0f0f0;font-size:8pt}
table.t-item td.c-picture {width:100px}
div.view-c table.t-item td.c-picture {width:60px}
table.t-item td.c-picture img {max-height:65px}
div.view-c table.t-item td.c-picture img {max-height:35px}
table.t-item td.c-picture img.popup {display:none;padding:5px;background-color:#ffffff;position:absolute;z-index:9;border:solid 1px #dddddd;border-radius:5px;box-shadow:2px 2px 4px #bbbbbb}

/* TEXT */

p.csv {margin:3px 0;text-align:right}

p.pager-zt {margin:0;padding:0 0 3px 0;clear:both;text-align:right;vertical-align:bottom}
p.pager-zb {margin:0;padding:3px 0 0 0;clear:both;text-align:right}
  
/* Special */

div.optionscontainer {text-align:right}
div.optionsedit {display:inline-block;height:32px;margin:0 0 5px 5px;padding:0;background-color:#FFEEBB;border:1px solid #FFBE7D;border-radius:5px}
div.optionsedit p {margin:6px 4px 0 4px;font-size:8pt}

div.options {float:right;height:30px;margin:0 0 5px 5px;padding:0;background-color:#FFEEBB;border:1px solid #FFBE7D;border-radius:5px}
div.options p {margin:6px 4px 0 4px;font-size:8pt}
div.showoptions {float:right;margin:0 0 5px 5px;width:32px;height:32px;background:transparent url(sec_options.png) no-repeat top right}
div.showoptions:hover {background-position:0px -32px;cursor:pointer}

a.gmappoint {outline:none}
img.gmappoint {vertical-align:middle;padding:0 0 1px 0;background-color:#ffffff;border:solid 1px #F49A9A;border-radius:3px}
img.gmappoint:hover {background-color:#F49A9A;border:solid 1px #cc3234}

div.lettres {margin:0;padding:10px 0}
div.lettres span.label {display:inline-block;margin:0;padding:4px 6px 4px 0}
div.lettres a {display:inline-block;margin:0;padding:3px 6px;border:solid 1px #FF9933;font-weight:bold;text-align:center;background-color:#FFEEBB}
div.lettres a:hover {background-color:#ffffff}
div.lettres a#active {color:#000000;background-color:#ffffff;cursor:default;text-decoration:none}
div.lettres input[type=text] {margin:0 0 0 2px;width:30px;height:18px;border:solid 1px #aaaaaa}
div.lettres input.search {margin:0 2px;width:16px;height:16px;border:0;background:transparent url(ico_search.png) no-repeat 0 0;vertical-align:text-bottom;cursor:pointer;outline:0}

/* ==== MEDIA LARGE ==== */

@media screen and (min-width:1024px)
{
div.dom-sep {height:25px}
}

/* ==== MEDIA SMALL ==== */

@media screen and (min-width:641px) and (max-width:870px)
{
div.lettres a:not(.primary) {display:none}
}

/* ==== MEDIA EXTRA SMALL ==== */

@media screen and (min-width:501px) and (max-width:640px)
{
th.c-userlocation, td.c-userlocation {display:none}
table.t-data th,
table.t-data td {display:block;width:auto}
div.lettres a:not(.primary) {display:none}
}

@media handheld,screen and (max-width:500px)
{
th.c-userlocation, td.c-userlocation {display:none}
td.legend {width:auto}
table.t-data th,
table.t-data td {display:block;width:auto}
div.lettres a:not(.primary) {display:none}
}